build-*
*.user
*______*
*.autosave
*.swp
*.d
*.o
*.so
*~

bin/
cache/
obj/
results/
engine/hand-generations/simple-diamond

*.job
vde-*s.o*
vde-*s.e*

.idea
*.dump
.bundle/
coverage/

Gemfile.lock

*.mp4
*.png
*.mol
*.sdf
*.sls
*.xyz
