build-*
*.user
*______*
*.autosave
*.swp
*.d
*.o

bin/
cache/
obj/
engine/engine
results/hand-generations/simple-diamond
results/generations

engine/results
*.job
vde-*s.o*
vde-*s.e*

.idea
*.dump
.bundle/
coverage/

Gemfile.lock

*.png
*.mol
*.sdf
*.sls
